iframe {
  min-height: 450px;
}

@media (max-width:  760px) {
  iframe {
    min-height: 350px;
  }
}

#root {
  background-color: rgb(24 24 24);
}

#navbar {
  background-color: rgb(32 32 32);
}

.fas, .fab {
  color:  white;
  font-size: 18px;
}
.fab.fa-youtube {
  color:  red !important;
}
